#matchmaker button {
  display: block;
  font-size: 24px;
  padding: 10px;
  margin: 0 auto;
  width: 180px;
}
#matchmaker h3 {
  text-align: center;
  margin: 10px auto;
  font-size: 30px;
  display: none;
}