body {
  background: #4c4c4c; /* old browsers */
  background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* ie */

}
#map {
  width: 990px;
  height: 400px;
  margin: 100px auto;
  position: relative;
}

#map .hex {
  background: url(/images/hex2.png);
  width: 114px; 
  height: 157px; 
  position: absolute;
  top: 0px;
  left: 10px;
}
#map #hexContainer {
  position: absolute;
  left: -72px;
  top: 200px;
}

#map .char {
   -moz-transform: scale(0.4);
    background: url("/images/redtrans2.png") no-repeat scroll -13px 17px transparent;
    height: 300px;
    left: 0;
    position: absolute;
    top: -155px;
    width: 107px;
    z-index: 999;
}
#map .char.engineer{
  background: url("/images/redtrans2.png") no-repeat scroll -818px 20px transparent;
  width: 130px;
  left: -10px;
}
#map .char.heavy{
   background: url("/images/redtrans2.png") no-repeat scroll -632px 20px transparent;
    left: -33px;
    width: 185px;
}

#map .char.medic {
   background: url("/images/redtrans2.png") no-repeat scroll -505px 20px transparent;
    width: 120px;
}    
#map .char.sniper {
 background: url("/images/redtrans2.png") no-repeat scroll -170px 17px transparent;
    width: 140px;
    left: -20px;
}
#map .char.pyro {
 background: url("/images/redtrans2.png") no-repeat scroll -1173px 25px transparent;
    left: -20px;
    width: 140px;
}
#map .char.demo {
 background: url("/images/redtrans2.png") no-repeat scroll -974px 20px transparent;
    width: 200px;
    left: -40px;
}
#map .char.scout {
 background: url("/images/redtrans2.png") no-repeat scroll -328px 50px transparent;
    left: -28px;
    width: 164px;
}
#map .char.soldier {
 background: url("/images/redtrans2.png") no-repeat scroll -1338px 20px transparent;
    left: -28px;
    width: 164px;
}
#map .char.sentry {
background: url("/images/redtrans2.png") no-repeat scroll -1495px 20px transparent;
    left: -28px;
    width: 164px;
}