body {
  background: #4c4c4c; /* old browsers */
  background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* ie */
  height: 600px;
}
#playerchars {
  height: 50px;
  display: block;
  margin: 5px auto;
  width: 1000px;
}

#playerchars .characters{
  height: 55px;
  margin: 0 auto;
  overflow: hidden;
  width: 1000px;
}
#playerchars  .characters  li  {
   float: left;
  margin: 0;
  text-align: right;
}
#playerchars  .characters  li .img{
  width: 50px;
  height: 55px;
  float: right;
  
}
#players .blue {
  border: 1px solid blue;
}
#players .red {
  border: 1px solid red;
}


#playerchars  .characters  li.spythumb .img{
  background: url(/images/top_icons.png) no-repeat 0 1px;
}
#playerchars  .characters  li.sniperthumb .img{
  background: url(/images/top_icons.png) no-repeat -50px 0;
}
#playerchars  .characters  li.scoutthumb .img{
  background: url(/images/top_icons.png) no-repeat -100px 0;
}
#playerchars  .characters  li.medicthumb .img{
  background: url(/images/top_icons.png) no-repeat -150px 0;
}
#playerchars  .characters  li.heavythumb .img{
  background: url(/images/top_icons.png) no-repeat -200px 0;
}
#playerchars  .characters  li.engiethumb .img{
  background: url(/images/top_icons.png) no-repeat -250px 0;
}
#playerchars  .characters  li.demothumb .img{
  background: url(/images/top_icons.png) no-repeat -300px 0;
}
#playerchars  .characters  li.pyrothumb .img{
  background: url(/images/top_icons.png) no-repeat -350px 0;
}
#playerchars  .characters  li.soldierthumb .img{
  background: url(/images/top_icons.png) no-repeat -400px 0;
}
#playerchars  .characters  li.sentrythumb .img{
  background: url(/images/top_icons.png) no-repeat -450px 0;
}

#playerchars .characters {
  background: url(/images/redhealth.png) repeat-x; 
}

#playerchars li {
  height: 50px;
  background: url(/images/greenhealth.png) repeat-x; 
}
#playerchars li span{
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
  text-indent: 2px;
}

#map {
  width: 990px;
  height: 400px;
  margin: 100px auto;
  position: absolute;
  top: 75px;
  left: 50%;
  margin-left: -495px;
}

#map .hex {
  width: 114px; 
  height: 157px; 
  position: absolute;
  top: 0px;
  left: 10px;
}
#map .hex._default {
  background: url(/images/hexes/default.png);
}
#map .hex.startRed {
  background: url(/images/hexes/startred.png);
}
#map .hex.startBlue {
  background: url(/images/hexes/startblue.png);
}
#map .hex.grass {
  background: url(/images/hexes/grass.png);
}
#map .hex.cappoint {
  background: url(/images/hexes/cappoint.png);
}
#map .hex.water {
  background: url(/images/hexes/water.png);
}
#map .hex.waste {
  background: url(/images/hexes/waste.png);
}
#map .hex.tiles {
  background: url(/images/hexes/tiles.png);
}
#map .hex.sandbrack{
  background: url(/images/hexes/sandbrack.png);
}
#map .hex.sand{
  background: url(/images/hexes/sand.png);
}
#map .hex.whiteWood{
  background: url(/images/hexes/whiteWood.png);
}
#map .hex.whiteWoodPlanks{
  background: url(/images/hexes/whiteWoodPlanks.png);
}
#map .hex.concrete{
  background: url(/images/hexes/concrete.png);
}
#map .hex.concreteRubble{
  background: url(/images/hexes/concreteRubble.png);
}
#map .hex.concreteCracks{
  background: url(/images/hexes/concreteCracks.png);
}
#map .hex.woodPlatform{
  background: url(/images/hexes/woodPlatform.png);
}

#map #hexContainer {
  position: absolute;
  left: -72px;
  top: 200px;
}

#map .char,
#map .char .img {
    height: 300px;
    width: 200px;
}
#map .char {
   -moz-transform: scale(0.375);
    left: 0;
    position: absolute;
    top: -155px;
    z-index: 999;
}
#map .char.highlight {
  background: url("/images/highlight.png") 0 10px no-repeat;
}
#map .char.spy .img{
  background: url("/images/redtrans2.png") no-repeat scroll -7px 3px transparent;
}
#map .char.sniper .img {
 background: url("/images/redtrans2.png") no-repeat scroll -200px 10px transparent;
}
#map .char.scout .img {
 background: url("/images/redtrans2.png") no-repeat scroll -400px 10px transparent;
}
#map .char.medic .img {
   background: url("/images/redtrans2.png") no-repeat scroll -600px 10px transparent;
}
#map .char.heavy .img{
   background: url("/images/redtrans2.png") no-repeat scroll -800px 10px transparent;
}

#map .char.engie .img{
  background: url("/images/redtrans2.png") no-repeat scroll -1000px 10px transparent;
}
#map .char.demo .img {
 background: url("/images/redtrans2.png") no-repeat scroll -1200px 10px transparent;
}  
#map .char.pyro .img {
 background: url("/images/redtrans2.png") no-repeat scroll -1400px 10px transparent;
}
#map .char.soldier .img {
 background: url("/images/redtrans2.png") no-repeat scroll -1600px 10px transparent;
}
#map .char.sentry .img {
background: url("/images/redtrans2.png") no-repeat scroll -1800px 10px transparent;
}

#map div.char.blueTeam .img {
  background-image: url("/images/bluetrans2.png");
}

#map .hex.chars1 .char {
  top: -165px;
  left: -60px}

#map .hex.chars2 .char:nth-child(1) {
  left: -33px;
  top: -168px
}
#map .hex.chars2 .char:nth-child(2) {
  left: -81px;
  top: -163px
}

#map .hex.chars3 .char:nth-child(1) {
  left: -30px;
  top: -169px
}
#map .hex.chars3 .char:nth-child(2) {
  left: -72px;
  top: -173px
}
#map .hex.chars3 .char:nth-child(3) {
  left: -58px;
  top: -152px
}


#map .hex.chars4plus .char {
  display: none;
}
#map .hex.chars4plus .char:nth-child(1) {
  left: -30px;
  top: -169px;
  display: block;
}
#map .hex.chars4plus .char:nth-child(2) {
  left: -72px;
  top: -173px;
  display: block;
}
#map .hex.chars4plus .char:nth-child(3) {
  left: -58px;
  top: -152px;
  display: block;
}
#map .hex.chars4plus .more {
    -moz-transform: scale(0.8);
    background: url("/images/more.png") no-repeat scroll 0 0 transparent;
    bottom: 110px;
    height: 30px;
    left: 50px;
    position: absolute;
    text-align: right;
    width: 30px;
    z-index: 2000;
}






#map_editor {
  position: absolute;
  top: 20px;
  right: 0px;
  border: 2px solid;
  padding: 5px;
  background: #ccc;
  width: 325px;
  z-index: 99999;
}